---
import type { CollectionEntry } from 'astro:content'

interface Props {
    review: CollectionEntry<"reviews">
}

const { review } = Astro.props;

const rating = ():string[] => {
    const list:string[] = [];
    for( let j =0 ; j < 5 ; j++ ) {
        if ( j < review.data.rating ) list.push("bi-star-fill");
        else if ( j+0.5 == review.data.rating ) list.push("bi-star-half");
        else list.push("bi-star");
    } 
    return list;
}

---

<div class="rounded p-3 bg-secondary-subtle" style="transition: all 0.3s ease;">
        
    <div class="small mb-2">

        <span class="fs-6 fw-semibold">{review.data.name}</span>
        <span class="vr mx-2 mx-lg-4" />
        <span class="text-warning"> {rating().map( t => <i class={`bi ${t}`}></i>)}</span>
        <span class="vr mx-2 mx-lg-4" />
        
        <i class="bi bi-bag-check-fill text-success"></i> Verified Purchase
    </div>

    <p class="mb-2">"{review.data.description} Lorem  necessitatibus quo nemo soluta inventore sint adipisci ipsa, at autem, fugit odio? Magnam accusantium excepturi illo ducimus eaque?"</p>
    
    <small class="text-muted">Reviewed on {new Date(review.data.date).toDateString()}</small>
        
</div>