---
import type { CollectionEntry } from 'astro:content'

interface Props {
    review: CollectionEntry<"reviews">
}

const { review } = Astro.props;

const rating = ():string[] => {
    const list:string[] = [];
    for( let j =0 ; j < 5 ; j++ ) {
        if ( j < review.data.rating ) list.push("bi-star-fill");
        else if ( j+0.5 == review.data.rating ) list.push("bi-star-half");
        else list.push("bi-star");
    } 
    return list;
}

---

<div class="hl-1 p-2 small shadow-sm">
    
    <div class="d-flex gap-1 justify-content-between small">
        <strong>{review.data.name}</strong>
        <p>{new Date(review.data.date).toDateString()}</p>
    </div>
    <p>{review.data.description} Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nam enim laborum, necessitatibus quo nemo soluta inventore sint adipisci ipsa, at autem, fugit odio? Magnam accusantium excepturi illo ducimus eaque?</p>
    <p class="text-secondary small">{rating().map( t => <i class={`bi ${t}`}></i>)}</p>

</div>