---
import Brands from "@components/Brands.astro";
import Headers from "@components/headers/Headers.astro";
import Layout from "@layouts/ELayout.astro";

const headerInfo = {
    description: "Home page for show casing many things.",
    title: "About Us",
    keywords: [],
};
---

<Layout {...headerInfo}>
    <main>
        <Headers
            title={headerInfo.title}
            description={headerInfo.description}
        />

        <section
            id="about"
            class="container-xl p-2 py-3 mx-auto row row-cols-1 row-cols-md-2 g-3 align-items-center justify-content-center"
        >
            <aside class="col">
                <h2 class="text-pacifico text-primary">Who we Are</h2>

                <p class="lead text-info">
                    We care about your hair ...Eveniet esse saepe sequi,
                    molestiae, nihil ipsa voluptate pariatur rem obcaecati
                    nostrum
                </p>
                <p>
                    Aliquam aperiam nisi accusamus delectus minima soluta nobis
                    maxime unde sint esse. Vel minima earum modi necessitatibus
                    deserunt molestiae numquam officia odio.
                </p>
                <a class="text-primary text-swanky" href="/blog">See blog post <i class="bi bi-arrow-right"></i></a>
            </aside>

            <img
                src="/images/website/about-1.jpg"
                loading="lazy"
                class="col rounded-2 object-fit-cover"
                alt="b-hair"
            />
        </section>

        <section
            class="container-fluid bg-body-tertiary p-2 py-4 mx-auto d-flex flex-column align-items-center justify-content-center gap-3"
        >

            <aside class="text-center">

                <h2 class="text-pacifico text-primary">
                    Services
                </h2>

                <p>
                    Recusandae enim eligendi libero magni odio consectetur nobis
                    aliquam velit qui dignissimos hic, neque aspernatur a
                    officia deserunt ullam molestiae. Cumque, non.
                </p>
            </aside>


            <aside class="row row-cols-1 row-cols-md-3 justify-content-evenly">

                {[1,2,3].map( o => <div style="max-width: 380px;" class="col text-center">
                    <div style="height: 56px;width:56px;" class="border border-primary text-primary border-2 rounded-circle mx-auto">
                        <i class="fs-3 bi bi-feather"></i>
                    </div>
                    <p>
                       Hic velit laudantium facilis nostrum modi ex soluta illo libero veritatis architecto excepturi reprehenderit, fuga quaerat cupiditate nobis dolorem explicabo expedita! Inventore.  
                    </p>

                </div>)}
            </aside>

        </section>

       <div class="container-fluid">

        <section class="container row py-3 mx-auto">

            <aside class="col-md-4 col-lg-5">
                <p class="h3 text-pacifico text-primary">Frequently Asked Questions</p>
                <p>If you can't find the answers your are looking for, Please reach to us through 
                    the <a class="text-primary fw-bold" href="/contacts">Contact Us</a> page.
                    We will respond as soon as possible.
                </p>
            </aside>

            <aside
                style="max-width: 968px;"
                class="col-md-8 col-lg-7 d-flex flex-column gap-1 mx-auto"
            >

                {
                    [1,2,3].map( item => <div class={ `p-1 px-2 ${item > 1 ?"border-top":""}`}>

                        <h5>Question here</h5>
                        <p class="">
                            Answer to auestion : Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum fuga tempora autem dolorem quam delectus, ab repudiandae qui quaerat cupiditate! Ullam excepturi totam ipsa quo illum harum ex voluptatem assumenda.
                        </p>

                    </div>)
                }
            </aside>
        </section>
       </div>

    </main>

    <Brands />

</Layout>

<style>
    .accordion-item,
    .accordion-button {
        background-color: inherit !important;
    }
</style>
