---
import NavCart from "./NavCart";
import NavOffcanvas from "./NavOffcanvas.astro";
import WbLogo from "./WbLogo.astro";

---


<header class="bg-body container-fluid text-center small-x fw-semibold py-2">
  <NavOffcanvas />  <span>Get 20% off prices with our coupon today !!!</span>
</header>

<nav  class="navbar navbar-expand-lg sticky-top top-0 bg-body border-bottom" aria-label="Offcanvas navbar">

  <section style="max-width: 1080px;" class="container-sm nav justify-content-between align-items-center px-2 ">

    <button class="btn btn-sm d-inline border-0 p-0 m-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <WbLogo classPassed="fs-5" />
    

    <aside class="d-flex justify-content-end">

      <NavCart client:only="solid" />

    </aside>

  </section>

</nav>

























<div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 text-bg-primary text-white rounded-3">
    <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center"
            id="bd-theme"
            type="button"
            aria-expanded="false"
            data-bs-toggle="dropdown"
            aria-label="Toggle theme (auto)">
      <svg class="bi my-1 theme-icon-active" width="1em" height="1em"><use href="#circle-half"></use></svg>
      <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
      <li>
        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
          <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#sun-fill"></use></svg>
          Light
          <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
        </button>
      </li>
      <li>
        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
          <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#moon-stars-fill"></use></svg>
          Dark
          <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
        </button>
      </li>
      <li>
        <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
          <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#circle-half"></use></svg>
          Auto
          <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
        </button>
      </li>
    </ul>
  </div>