---
import WbLogo from "@components/navbar/WbLogo.astro";
import LastFooter from "./LastFooter.astro";

const socalLinks: { class: string; link: string }[] = [
    { class: "facebook", link: "#facebook" },
    { class: "whatsapp", link: "#facebook" },
    { class: "telegram", link: "#facebook" },
];

const pages: { name:string , link:string}[] = [
    { name:"about" , link:"/about/"},
    { name:"shop" , link:"/products/"},
    { name:"Services" , link:"/about#services"},
    { name:"blog",link:"/blog"}
];

const categories: string[] = [
    "Eye Makeup",
    "Lip Makeup",
    "Face Makeup",
    "Skincare",
    "Haircare",
];

const brands: string[] = [
    "Maybelline",
    "MAC Cosmetics",
    "Estée Lauder",
    "NARS",
    "Stila",
    "Rare Beauty",
];
---

<footer class="container-fluid bg-body-tertiary p-2 d-flex flex-column align-items-center gap-4 border-primary pt-3">


    <section
        class="container-xl row justify-content-between g-2 g-lg-4 text-center text-md-start"
    >   

        <aside class="col-12 col-md-6 col-lg-4">

            <h2 class="mb-3">
                <WbLogo />
            </h2>
            <p class="smaller">
                Nine out of ten doctors recommend Laracasts over competing brands. Come inside, see for yourself, 
                and massively level up your development skills in the process.
            </p>

        </aside>


        <aside class=" d-none d-lg-inline col-lg-3">

            <h3 class="text-swanky mb-3">pages</h3>

            <ul class="nav flex-md-column gap-1">
                {pages.map( item => <li class="nav-item">
                    <a href={item.link} class="nav-link text-capitalize p-0">categories</a>
                </li>)}
            </ul>

        </aside>

        <aside class="col-md-6 col-lg-4">
            <h3 class="text-swanky mb-3">Contacts & Location</h3>
            
            <ul class="nav flex-column gap-1">
                <li> 
                    <i class="bi bi-phone me-2"></i> + 2309-34-56 
                </li>
                <li> 
                    <i class="bi bi-geo-alt me-2"></i> Germany,Serra loume
                </li>
                <li class="mt-2">
                    { socalLinks.map((item) => (
                        <a style="height: 2rem;width:2rem;" class="d-inline-flex align-items-center justify-content-center rounded-circle bg-gray-50 me-2" href={item.link}>
                            <i class={`fs-5 bi bi-${item.class} text-muted`} />
                        </a>
                    ))}
                </li>
            </ul>
        </aside>


        <LastFooter />
        
    </section>
        
</footer>
