---
const pages: { name:string , link:string}[] = [
    { name:"about" , link:"/about/"},
    { name:"shop" , link:"/shop??page=0&size=12&"},
    { name:"Services" , link:"/about#services"},
    { name:"blog",link:"/blog"},
    {name:"contact us" ,link:"/contacts"},
    {name:"terms & conditions" ,link:"/contacts"}
];

const year = new Date().getFullYear();

---

<small class="list-unstyled nav justify-content-between align-items-center gap-2 gap-lg-4 smaller">

    <span>&copy; {year} Cee-jey. All rights reserved.</span>

    <p class="text-center  text-pacifico text-md-start">
        {pages.map( item => <a href={item.link} class="d-inline text-primary rounded-2 me-2 text-capitalize"> {item.name}</a>)}
    </p>
   
</small>