

<form class="row g-1">

    <label class="form-label col-md-6">
        <input type="text" class="form-control" name="name" placeholder="name / pseudo " required/>
    </label>

    
    <label class="form-label col-md-6">
        <select name="rating" class="form-select">
            <option>Please Select a rating</option>
            {[0,1,2,3,4,5].map( item  => <option value={item}>
                {item}
            </option>)}
        </select>
    </label>

    <label class="form-label col-12">
        <textarea rows="3" class="form-control" placeholder="Why please?" name="comment" required />
    </label>

    <button style="width: fit-content;" class="btn btn-sm btn-primary"> Submit</button>
</form>