

<section style="max-width: 968px;" class="container-sm mx-auto py-4 text-center text-md-start rounded-3">

    <p class="h2 text-swanky">
        Want our product or tips updates?  <br/> Sign up for our newsletter.
    </p>

    <form class="col-lg-7 d-flex gap-2 p-0">
        <input type="email" placeholder="enter your email please" class="form-control" required>
        <button type="submit" class="btn btn-primary flex-shrink-0 text-swanky">Notify me</button>
    </form>

    <p>We value your privacy and data.</p>

</section>